.grid {
	grid-area: main;
	display: grid;
	justify-items: center;
	margin: var(--size-rem-3) var(--size-rem-1);
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	column-gap: var(--size-rem-2);
	row-gap: var(--size-rem-3);

	&.onlyOneRow	{
		max-height: 360px;
		overflow: hidden;
	}
	
}

@media (min-width: 1021px) {
	.grid {
		margin: var(--size-rem-3);
		column-gap: var(--size-rem-2);
		row-gap: var(--size-rem-2);

		&.onlyOneRow	{
			max-height: fit-content;
			overflow: unset;
		}
	}
}
