.properties {
	flex-shrink: 0;
	margin-top: var(--size-rem-01) !important;

	& .property ~ .property {
		border-top: var(--size-px-01) solid var(--color-green-dark);
	}

	& .property {
		display: flex;
		text-transform: capitalize;
		font-size: var(--size-rem-13);

		& span:nth-child(2) {
			margin-left: auto;
		}

		&.interactive {

			& button {
				width: 100%;
				display: flex;
				text-transform: capitalize;
				border-radius: 0;
				background-color: transparent;
				padding: var(--size-rem-03) 0;
				font-size: var(--size-rem-13);
				color: var(--color-gray-dark);
				border-right: 0;
				border-bottom: 0;
				border-left: 0;
				font-family: inherit;
				
				& span:nth-child(2) {
					margin-left: auto;
				}

				&:hover {
					cursor: pointer;
					background-color: var(--color-blue-light);
				}
	
			}
	
		}
	
	}

}

@media (min-width: 721px) {
	.properties {
		& .property {
			font-size: var(--size-rem-09);

			&.interactive {
				/* padding: 0; */

				& button {
					border: 0;
					padding: var(--size-rem-0285) 0;
					font-size: var(--size-rem-09);
				
				&:active {
					border: 0;
				}

				}
			}
		}
	}
}