@import './colors.css';
@import './sizes.css';
@import './typeography.css';

:root {
	color-scheme: dark light;
	box-sizing: border-box;
	scrollbar-gutter: stable;

	.noscript {
		display: flex;
		flex-direction: column;
		height: 100vh;
		width: 100%;
		align-items: center;
		justify-content: center;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

}

body {
	display: flex;
	flex-direction: column;
	/* grid-template-areas: "header" "main"; */
	border-left: var(--size-px-05) solid var(--color-green-regular);
	/* border-right: var(--size-px-05) solid var(--color-green-regular); */
	min-height: 100vh;
	margin: 0;
	font-size: var(--size-rem-15);
}

@media (min-width: 721px) {
	body {
		border-left: var(--size-px-10) solid var(--color-green-regular-faded);
		/* border-right: var(--size-px-10) solid var(--color-green-regular-faded); */
		margin: 0;
    font-size: var(--size-rem-1);
		overflow-x: hidden;
	}
}

.light {
	background-color: var(--color-sand-light-40);
	color: var(--color-sand-regular);

	a,
	a:link,
	a:visited,
	a:active {
		text-decoration: underline;
		color: var(--color-red-dark);
	}

	/* a:hover, a.active {
		cursor: pointer;
		background-color: var(--color-blue-light);
	} */

}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {}

/* Reduced motion */
@media (prefers-reduced-motion) {}

/* Mobile */
@media (max-width: 700px) {}
