.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--size-rem-1);
	padding: var(--size-rem-2) var(--size-rem-1);

	& .intro {
		justify-content: center;
		text-align: center;			
	}

}

@media (min-width: 721px) {
	.main {
		margin: var(--size-rem-05);
		padding: var(--size-rem-05) var(--size-rem-1);
		align-items: stretch;	
	}
}
