.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: var(--size-rem-1);
	padding: var(--size-rem-2) var(--size-rem-1);

	& .intro {
		justify-content: center;
		text-align: center;			
	}

	& .cardDisplay {
		margin-top: var(--size-rem-3);
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: var(--size-rem-3);
	}

}

@media (min-width: 721px) {
	.main {
		margin: var(--size-rem-1) var(--size-rem-4);
		padding: var(--size-rem-2) var(--size-rem-1);
		align-items: stretch;
	}
}
