.container {
	position: relative;
	perspective: 150rem;
	/* position: relative; */
	/* min-height: 100%; */
  animation: fadein 0.5s;
	max-width: 250px;
	height: 400px;

	&.hidden {
		visibility: hidden;
	}

	&:hover .cardSide.cardFront {
		transform: rotateY(180deg);
	}
	
	&:hover .cardSide.cardBack {
		transform: rotateY(0deg);
	}

}

.cardSide {
  /* height: fit-content; */
  /* border-radius: 15px; */
	width: 250px;
	padding: var(--size-rem-025);
	background-color: var(--color-gray-light-70);
  transition: all 0.8s ease;
  backface-visibility: hidden;
	border: var(--size-px-01) solid var(--color-gray-dark);
	border-radius: var(--size-px-05);
  position: absolute;
  top: 0;
  left: 0;
  /* width: 80%; */
  /* padding: 2rem; */
  /* color: white; */
}

.cardBack {
	height: 400px;
	transform: rotateY(-180deg);
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%,#C850C0 46%, #FFCC70 100%);
}

.cardFront {
	display: flex;
	/* min-height: 100%;
	max-width: 250px; */
	/* height: fit-content; */
	flex-direction: column;
	
	&.interactive {
		&:hover {
			cursor: pointer;
			box-shadow:
				0px 0px
				var(--size-px-10) var(--size-px-05)
				var(--color-green-light-40);
		}	
	}

	& .name {
		text-transform: uppercase;
		text-align: center;

		& h2 {
			padding: 0;
			margin: 0;
			font-weight: var(--font-weight-6);
			font-size: var(--size-rem-16);
		}

	}

}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@media (min-width: 721px) {
	.cardFront {
		& .name {
			& h2 {
				font-size: var(--size-rem-12);
			}	
		}
	}
}
