.container {
	border: var(--size-px-01) solid var(--color-gray-dark);
	border-radius: var(--size-px-05);
}

.card {
	display: flex;
	width: 250px;
	height: fit-content;
	flex-direction: column;
	padding: var(--size-rem-05);
	background-color: var(--color-gray-light-70);
	transition: opacity 0.5s;
	
	&.interactive {
		&:hover {
			cursor: pointer;
			box-shadow:
				0px 0px
				var(--size-px-10) var(--size-px-05)
				var(--color-green-light-40);
		}	
	}

	& .name {
		text-transform: uppercase;
		text-align: center;

		& h2 {
			padding: 0;
			margin: 0;
			font-weight: var(--font-weight-6);
			font-size: var(--size-rem-16);
		}

	}

}

.card.invisible {
	opacity: 0;
}

/* @media only screen and (max-height: 575.98px) and (orientation: landscape) { */
@media (min-width: 721px) {
		.card {
		padding: var(--size-rem-025) var(--size-rem-025) 0 var(--size-rem-025);
		& .name {
			& h2 {
				font-size: var(--size-rem-11);
			}	
		}
	}
}
