.messageBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--size-rem-05);
	font-size: var(--size-rem-14);

	& p {
		margin: 0;
		padding: 0;	
		text-align: center;
	}

	& .nextRound {
		margin-top: var(--size-rem-1);
		font-size: var(--size-rem-14);

		&:hover {
			cursor: pointer;
		}

	}

}

@media (min-width: 721px) {
	.messageBox {
		font-size: var(--size-rem-1);

		& .nextRound {
			font-size: var(--size-rem-09);
		}
	}
}