.messageBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: var(--size-rem-05);

	& p {
		margin: 0;
		padding: 0;	
		text-align: center;
	}

	& .nextRound {
		margin-top: var(--size-rem-1);
		font-size: var(--size-rem-09);

		&:hover {
			cursor: pointer;
		}

	}

}