.header {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-size: var(--size-rem-1);
	grid-area: header;
	padding-bottom: var(--size-rem-2);
	border-bottom: var(--size-px-01) solid var(--color-blue-dark);

	& h1 {
		& a {
			color: var(--color-gray-dark);
			text-decoration: none;
		}
	}

}

@media (min-width: 1121px) {
	.header {
		font-size: var(--size-rem-1);
		padding-bottom: var(--size-rem-1);

		& h1 {
			margin-bottom: var(--size-rem-05);
		}

	}
}
