.nav {
	width: 70%;
	display: flex;
	justify-content: center;
	font-size: var(--size-rem-12);
	grid-area: nav;

	& ul {
		width: 100%;
		display: flex;
		justify-content: space-between;

		& li {
			display: inline-flex;
		}

	}

}

@media (min-width: 721px) {
	.nav {
		width: 40%;
		font-size: var(--size-rem-1);
	}
}
