.nav {
	width: 80%;
	display: flex;
	justify-content: center;
	font-size: var(--size-rem-13);

	& ul {
		width: 100%;
		display: flex;
		justify-content: space-between;

		& li {
			display: inline-flex;
		
			& a.active {
				font-weight: var(--font-weight-6);
				color: var(--color-gray-dark);	
			}
			
		}

	}

}

@media (min-width: 721px) {
	.nav {
		width: 40%;
		font-size: var(--size-rem-1);
	}
}
